.body {
    align-items: center;
}
.header{
    background-color: black;
    margin: 0px;
}
.head{
    color: white;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.body {
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
}
.head span {
    color: blue;
    font-size: 40px;
}
.text-1 {
    color: blue;
    font-size: 35px;
    text-align: center;
}
.front {
    text-align: center;
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.story span {
    color: blue;
    font-style: italic;
}
.story-2 span{
    font-weight: bold;
}
.gradient {
    background-color:#14c9cb;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px;
    text-align: left;
}
.gradient span {
    color: yellow;
}
footer {
    background-color: black;
    padding: 20px;
}
.footer {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}